@media screen and (max-width: 600px)  {
    .post-form{
        display: none;
    }
    .card{
        display: none;
    }
    .post{
        display: inline-block;
        justify-content: center;
        align-items: center;
    }
   
  }